windowform/Connected Services/ServiceReference1/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ModificarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="persona_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ap_paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ap_materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarPersonaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ap_paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ap_materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarPersonaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="persona_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarPersonaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ModificarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarPersona" />
  </wsdl:message>
  <wsdl:message name="ModificarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarPersona" />
  </wsdl:message>
  <wsdl:message name="AgregarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarPersona" />
  </wsdl:message>
  <wsdl:message name="EliminarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebSoap">
    <wsdl:operation name="ModificarPersona">
      <wsdl:input message="tns:ModificarPersonaSoapIn" />
      <wsdl:output message="tns:ModificarPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarPersona">
      <wsdl:input message="tns:AgregarPersonaSoapIn" />
      <wsdl:output message="tns:AgregarPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPersona">
      <wsdl:input message="tns:EliminarPersonaSoapIn" />
      <wsdl:output message="tns:EliminarPersonaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebSoap" type="tns:ServicioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModificarPersona">
      <soap:operation soapAction="http://tempuri.org/ModificarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarPersona">
      <soap:operation soapAction="http://tempuri.org/AgregarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPersona">
      <soap:operation soapAction="http://tempuri.org/EliminarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebSoap12" type="tns:ServicioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModificarPersona">
      <soap12:operation soapAction="http://tempuri.org/ModificarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarPersona">
      <soap12:operation soapAction="http://tempuri.org/AgregarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPersona">
      <soap12:operation soapAction="http://tempuri.org/EliminarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWeb">
    <wsdl:port name="ServicioWebSoap" binding="tns:ServicioWebSoap">
      <soap:address location="http://localhost:51981/ServicioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebSoap12" binding="tns:ServicioWebSoap12">
      <soap12:address location="http://localhost:51981/ServicioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>